.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
objects/
drafts/
qualtrics_api.R
old_files/
supplemental-pdf/supplemental_files/libs/quarto-html/quarto-syntax-highlighting-37eea08aefeeee20ff55810ff984fec1.css
supplemental-pdf/supplemental_files/libs/quarto-html/popper.min.js
supplemental-pdf/supplemental_files/libs/quarto-html/anchor.min.js
supplemental-pdf/supplemental_files/libs/lightable-0.0.1/lightable.css
supplemental-pdf/supplemental_files/libs/quarto-html/quarto.js
supplemental-pdf/supplemental_files/libs/kePrint-0.0.1/kePrint.js
supplemental-pdf/supplemental_files/libs/clipboard/clipboard.min.js
supplemental-pdf/supplemental_files/libs/bootstrap/bootstrap.min.js
supplemental-pdf/supplemental_files/libs/bootstrap/bootstrap-icons.woff
supplemental-pdf/supplemental_files/libs/bootstrap/bootstrap-icons.css
supplemental-pdf/supplemental_files/libs/bootstrap/bootstrap-81267100e462c21b3d6c0d5bf76a3417.min.css
supplemental-pdf/supplemental_files/figure-latex/worryingplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/warmplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unsympatheticplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-294-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-293-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-143-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-142-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-141-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-140-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unnamed-chunk-132-1.pdf
supplemental-pdf/supplemental_files/figure-latex/unintellectualplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/uncreativeplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/timingmod1-1.pdf
supplemental-pdf/supplemental_files/figure-latex/timingdist-1.pdf
supplemental-pdf/supplemental_files/figure-latex/thriftyplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/thoroughplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/testretest18-1.pdf
supplemental-pdf/supplemental_files/figure-latex/talkativeplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/sympplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/sophisticatedplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/softplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/shyplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/selfdisciplinedplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/secondsi-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsibleplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle8-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle7-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle33-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle28-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle24-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle17-1.pdf
supplemental-pdf/supplemental_files/figure-latex/responsestyle13-1.pdf
supplemental-pdf/supplemental_files/figure-latex/relaxedplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/recklessplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/quietplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/outgoingplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/organizedplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/nervousplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/moodyplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/memory-dist-1.pdf
supplemental-pdf/supplemental_files/figure-latex/livelyplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/internal13c-1.pdf
supplemental-pdf/supplemental_files/figure-latex/internal12b-1.pdf
supplemental-pdf/supplemental_files/figure-latex/internal11-1.pdf
supplemental-pdf/supplemental_files/figure-latex/intelligentplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/impulsiveplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/imaginativeplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/helpfulplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/hardworkingplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/friendlyplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/descriptives-5-1.pdf
supplemental-pdf/supplemental_files/figure-latex/curiousplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/creativeplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/coldplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/cautiousplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/caringplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/carelessplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/calmplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/broadmindedplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/analysisFormat32-1.pdf
supplemental-pdf/supplemental_files/figure-latex/adventurousplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/activeplot-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-95-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-64-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-59-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-55-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-33-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-27-1.pdf
supplemental-pdf/supplemental_files/figure-latex/1-cleaning-24-1.pdf
supplemental-pdf/supplemental_files/figure-html/worryingplot-1.png
supplemental-pdf/supplemental_files/figure-html/warmplot-1.png
supplemental-pdf/supplemental_files/figure-html/unsympatheticplot-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-294-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-293-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-143-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-142-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-141-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-140-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-132-1.png
supplemental-pdf/supplemental_files/figure-html/unnamed-chunk-129-1.png
supplemental-pdf/supplemental_files/figure-html/unintellectualplot-1.png
supplemental-pdf/supplemental_files/figure-html/uncreativeplot-1.png
supplemental-pdf/supplemental_files/figure-html/timingmod1-1.png
supplemental-pdf/supplemental_files/figure-html/timingdist-1.png
supplemental-pdf/supplemental_files/figure-html/thriftyplot-1.png
supplemental-pdf/supplemental_files/figure-html/thoroughplot-1.png
supplemental-pdf/supplemental_files/figure-html/testretest18-1.png
supplemental-pdf/supplemental_files/figure-html/talkativeplot-1.png
supplemental-pdf/supplemental_files/figure-html/sympplot-1.png
supplemental-pdf/supplemental_files/figure-html/sophisticatedplot-1.png
supplemental-pdf/supplemental_files/figure-html/softplot-1.png
supplemental-pdf/supplemental_files/figure-html/shyplot-1.png
supplemental-pdf/supplemental_files/figure-html/selfdisciplinedplot-1.png
supplemental-pdf/supplemental_files/figure-html/secondsi-1.png
supplemental-pdf/supplemental_files/figure-html/responsibleplot-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle8-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle7-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle33-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle28-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle24-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle17-1.png
supplemental-pdf/supplemental_files/figure-html/responsestyle13-1.png
supplemental-pdf/supplemental_files/figure-html/relaxedplot-1.png
supplemental-pdf/supplemental_files/figure-html/recklessplot-1.png
supplemental-pdf/supplemental_files/figure-html/quietplot-1.png
supplemental-pdf/supplemental_files/figure-html/outgoingplot-1.png
supplemental-pdf/supplemental_files/figure-html/organizedplot-1.png
supplemental-pdf/supplemental_files/figure-html/nervousplot-1.png
supplemental-pdf/supplemental_files/figure-html/moodyplot-1.png
supplemental-pdf/supplemental_files/figure-html/livelyplot-1.png
supplemental-pdf/supplemental_files/figure-html/internal13c-1.png
supplemental-pdf/supplemental_files/figure-html/internal12b-1.png
supplemental-pdf/supplemental_files/figure-html/internal11-1.png
supplemental-pdf/supplemental_files/figure-html/intelligentplot-1.png
supplemental-pdf/supplemental_files/figure-html/impulsiveplot-1.png
supplemental-pdf/supplemental_files/figure-html/imaginativeplot-1.png
supplemental-pdf/supplemental_files/figure-html/helpfulplot-1.png
supplemental-pdf/supplemental_files/figure-html/hardworkingplot-1.png
supplemental-pdf/supplemental_files/figure-html/friendlyplot-1.png
supplemental-pdf/supplemental_files/figure-html/curiousplot-1.png
supplemental-pdf/supplemental_files/figure-html/creativeplot-1.png
supplemental-pdf/supplemental_files/figure-html/coldplot-1.png
supplemental-pdf/supplemental_files/figure-html/cautiousplot-1.png
supplemental-pdf/supplemental_files/figure-html/caringplot-1.png
supplemental-pdf/supplemental_files/figure-html/carelessplot-1.png
supplemental-pdf/supplemental_files/figure-html/calmplot-1.png
supplemental-pdf/supplemental_files/figure-html/broadmindedplot-1.png
supplemental-pdf/supplemental_files/figure-html/analysisFormat32-1.png
supplemental-pdf/supplemental_files/figure-html/adventurousplot-1.png
supplemental-pdf/supplemental_files/figure-html/activeplot-1.png
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-129_e9e646d1b6139fe9390eaf71c8068ca9.rdx
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-129_e9e646d1b6139fe9390eaf71c8068ca9.rdb
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-129_e9e646d1b6139fe9390eaf71c8068ca9.RData
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-127_8cbf890d5086242b85c3468b9de87f8d.rdx
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-127_8cbf890d5086242b85c3468b9de87f8d.rdb
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-127_8cbf890d5086242b85c3468b9de87f8d.RData
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-126_7cc2ff62d80b0e3d2c5409454eecdb04.rdx
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-126_7cc2ff62d80b0e3d2c5409454eecdb04.rdb
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-126_7cc2ff62d80b0e3d2c5409454eecdb04.RData
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-125_7d6e8b29e9dcafe8506f02039ba8f70a.rdx
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-125_7d6e8b29e9dcafe8506f02039ba8f70a.rdb
supplemental-pdf/supplemental_cache/latex/unnamed-chunk-125_7d6e8b29e9dcafe8506f02039ba8f70a.RData
supplemental-pdf/supplemental_cache/latex/responsestyle9_4987997f55ee32d729716d4f59cffb37.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle9_4987997f55ee32d729716d4f59cffb37.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle9_4987997f55ee32d729716d4f59cffb37.RData
supplemental-pdf/supplemental_cache/latex/responsestyle5_44854e60d55428fdf81ca2f6222cc1c5.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle5_44854e60d55428fdf81ca2f6222cc1c5.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle5_44854e60d55428fdf81ca2f6222cc1c5.RData
supplemental-pdf/supplemental_cache/latex/responsestyle4_ae7c9576d24a33f1df3f8ea1920d553e.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle4_ae7c9576d24a33f1df3f8ea1920d553e.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle4_ae7c9576d24a33f1df3f8ea1920d553e.RData
supplemental-pdf/supplemental_cache/latex/responsestyle28_715a9afa6334f86ed7b9f07e12d21e18.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle28_715a9afa6334f86ed7b9f07e12d21e18.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle28_715a9afa6334f86ed7b9f07e12d21e18.RData
supplemental-pdf/supplemental_cache/latex/responsestyle26_fb84dfe7c8f15c505076b50c50125a45.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle26_fb84dfe7c8f15c505076b50c50125a45.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle26_fb84dfe7c8f15c505076b50c50125a45.RData
supplemental-pdf/supplemental_cache/latex/responsestyle18_1406f48516afe11d9352b2f12782a9bf.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle18_1406f48516afe11d9352b2f12782a9bf.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle18_1406f48516afe11d9352b2f12782a9bf.RData
supplemental-pdf/supplemental_cache/latex/responsestyle15_1e480a010d75828ae35323f71e076f23.rdx
supplemental-pdf/supplemental_cache/latex/responsestyle15_1e480a010d75828ae35323f71e076f23.rdb
supplemental-pdf/supplemental_cache/latex/responsestyle15_1e480a010d75828ae35323f71e076f23.RData
supplemental-pdf/supplemental_cache/latex/itemextreme_7255bf0eb0c21e3f69cfdb2fd9b7f47d.rdx
supplemental-pdf/supplemental_cache/latex/itemextreme_7255bf0eb0c21e3f69cfdb2fd9b7f47d.rdb
supplemental-pdf/supplemental_cache/latex/itemextreme_7255bf0eb0c21e3f69cfdb2fd9b7f47d.RData
supplemental-pdf/supplemental_cache/latex/__packages
supplemental-pdf/supplemental_cache/html/unnamed-chunk-129_6d5e5a9cca229a07f094c4b376ee94a1.rdx
supplemental-pdf/supplemental_cache/html/unnamed-chunk-129_6d5e5a9cca229a07f094c4b376ee94a1.rdb
supplemental-pdf/supplemental_cache/html/unnamed-chunk-129_6d5e5a9cca229a07f094c4b376ee94a1.RData
supplemental-pdf/supplemental_cache/html/unnamed-chunk-127_e797ace10b26dfba1addd09d7fecd529.rdx
*.rdb
supplemental-pdf/supplemental_cache/html/unnamed-chunk-127_e797ace10b26dfba1addd09d7fecd529.RData
supplemental-pdf/supplemental_cache/html/unnamed-chunk-126_b0b9bc2aea4b581a5210a3ebd4b0aeca.rdx
supplemental-pdf/supplemental_cache/html/unnamed-chunk-126_b0b9bc2aea4b581a5210a3ebd4b0aeca.RData
supplemental-pdf/supplemental_cache/html/unnamed-chunk-125_cce0c37da28713d6650ce160912b5673.rdx
supplemental-pdf/supplemental_cache/html/unnamed-chunk-125_cce0c37da28713d6650ce160912b5673.RData
supplemental-pdf/supplemental_cache/html/responsestyle9_0b3c82a1b14aa1bb37bc66883a698ebb.rdx
supplemental-pdf/supplemental_cache/html/responsestyle9_0b3c82a1b14aa1bb37bc66883a698ebb.RData
supplemental-pdf/supplemental_cache/html/responsestyle5_3b23486928d6c911b5033b61b61b143a.rdx
supplemental-pdf/supplemental_cache/html/responsestyle5_3b23486928d6c911b5033b61b61b143a.RData
supplemental-pdf/supplemental_cache/html/responsestyle4_8dc915eec98cd07ac526f94d190f9c11.rdx
supplemental-pdf/supplemental_cache/html/responsestyle4_8dc915eec98cd07ac526f94d190f9c11.RData
supplemental-pdf/supplemental_cache/html/responsestyle28_2b7ae81259b987312a4f132a0f5ec2cc.rdx
supplemental-pdf/supplemental_cache/html/responsestyle28_2b7ae81259b987312a4f132a0f5ec2cc.RData
supplemental-pdf/supplemental_cache/html/responsestyle26_de4d4f056cc69c0e0360d7b65cd1b341.rdx
supplemental-pdf/supplemental_cache/html/responsestyle26_de4d4f056cc69c0e0360d7b65cd1b341.RData
supplemental-pdf/supplemental_cache/html/responsestyle18_6d6c8a3c9dcad93ad03a2648ac128bf8.rdx
supplemental-pdf/supplemental_cache/html/responsestyle18_6d6c8a3c9dcad93ad03a2648ac128bf8.RData
supplemental-pdf/supplemental_cache/html/responsestyle15_7a4b98bbd868cb4a2d1f799164afc309.rdx
supplemental-pdf/supplemental_cache/html/responsestyle15_7a4b98bbd868cb4a2d1f799164afc309.RData
supplemental-pdf/supplemental_cache/html/itemextreme_30ecb0a53a27c0755591d8cde64ec824.rdx
supplemental-pdf/supplemental_cache/html/itemextreme_30ecb0a53a27c0755591d8cde64ec824.RData
supplemental-pdf/supplemental_cache/html/__packages
supplemental-pdf/supplemental.rmarkdown
supplemental-pdf/supplemental.pdf
supplemental-pdf/supplemental.log
supplemental-pdf/supplemental.rmarkdown
supplemental-pdf/supplemental.pdf
supplemental-pdf/supplemental.log
